@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.home__container {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
}
.home__container > * {
  margin-bottom: 10px;
}
.home__header {
  margin-bottom: 30px;
}
.username__input {
  padding: 10px;
  width: 50%;
}
.home__cta {
  width: 200px;
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
  background-color: #607eaa;
  color: #f9f5eb;
  outline: none;
  border: none;
  border-radius: 5px;
}
.chat {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}
.chat__sidebar {
  height: 100%;
  background-color: #f9f5eb;
  flex: 0.2;
  padding: 20px;
  border-right: 1px solid #fdfdfd;
}
.chat__main {
  height: 100%;
  flex: 0.8;
}
.chat__header {
  margin: 30px 0 20px 0;
}
.chat__users > * {
  margin-bottom: 10px;
  color: #607eaa;
  font-size: 14px;
  cursor: pointer;
}
.online__users > * {
  margin-bottom: 10px;
  color: rgb(238, 102, 102);
  font-style: italic;
}
.chat__mainHeader {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  background-color: #f9f5eb;
}
.leaveChat__btn {
  padding: 10px;
  width: 150px;
  border: none;
  outline: none;
  background-color: #d1512d;
  cursor: pointer;
  color: #eae3d2;
}
.message__container {
  width: 100%;
  height: 80vh;
  background-color: #fff;
  padding: 20px;
  overflow-y: scroll;
}

.message__container > * {
  margin-bottom: 10px;
}
.chat__footer {
  padding: 10px;
  background-color: #f9f5eb;
  height: 10vh;
}
.form {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.message {
  width: 80%;
  height: 100%;
  border-radius: 10px;
  border: 1px solid #ddd;
  outline: none;
  padding: 15px;
}
.sendBtn {
  width: 150px;
  background-color: green;
  padding: 10px;
  border: none;
  outline: none;
  color: #eae3d2;
  cursor: pointer;
}
.sendBtn:hover {
  background-color: rgb(129, 201, 129);
}
.message__recipient {
  background-color: #f5ccc2;
  width: 300px;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.message__sender {
  background-color: rgb(194, 243, 194);
  max-width: 300px;
  padding: 10px;
  border-radius: 10px;
  margin-left: auto;
  font-size: 15px;
}
.message__chats > p {
  font-size: 13px;
}
.sender__name {
  text-align: right;
}
.message__status {
  position: fixed;
  bottom: 50px;
  font-size: 13px;
  font-style: italic;
}

.toggle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-box {
  display: flex;
  justify-content: space-between;
}

.green__ {
  margin-top: 4px;
  width: 10px;
  height: 10px;
  background-color: green;
  border-radius: 6px;
}

.group_container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.option_ {
  width: 45%;
  margin: 2%;
}

.option_select {
  width: 100%;
  margin: 2%;
  height: 2rem;
  border-radius: 1rem;
  padding: 5px;
  /* border: none; */
  cursor: pointer;
  color: #5b5f5f;
  font-size: xx-small;
  transition: border 0.1s ease-out;
}

.option_select:hover {
  border: #d1512d 2px solid;
}

option {
  color: #d1512d;
  width: 50%;
  border-radius: 1rem;
}

.button_ {
  height: 2rem;
  width: 5rem;
  font-size: xx-small;
  border-radius: 1rem;
  border: none;
  background-color: #d1512d;
  color: white;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.button_:hover {
  border: #d1512d 2px solid;
  background-color: #efefef;
  color: #d1512d;
}

input {
  width: 100%;
  border-radius: 0.4rem;
  /* padding: 2%; */
  border: 1px solid #ccc;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

/* Add hover effect */
input:hover {
  border: 1px solid #d1512d;
}

/* Add focus effect */
input:focus {
  outline: none;
  border: 1px solid #d1512d;
  box-shadow: 0 0 5px rgba(138, 6, 74, 0.5);
}

input::placeholder {
  font-size: 0.6rem; /* Adjust the font size as needed */
}

.input_group {
  padding: 10px;
}

.group_name {
  width: 100%;
  margin: 2%;
}

.chat__users {
  overflow-y: scroll;
  height: 15vh;
}

.chat__users::-webkit-scrollbar {
  width: 6px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.chat__users:hover::-webkit-scrollbar {
  opacity: 1;
}

.chat__users::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

.chat__users::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.chat__users::-webkit-scrollbar-thumb:hover {
  background-color: #999;
}

.chat_active {
  height: 10vh !important;
}
